In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"animal": ["dog", "pig"], "age": [10, 20]})

In [3]:
df

  animal  age
0    dog   10
1    pig   20

In [4]:
pd.eval("double_age = df.age * 2", target=df)

  animal  age  double_age
0    dog   10          20
1    pig   20          40